{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "Initialisation de Groupe" %}

{% block scripts_declaration %} 
<script type="text/javascript"> 
    
var GroupeChoisit;
   function InialiserRechGroupe(){
      //Recuperation de la liste des groupes à partir de facebook
FB.api('me?fields=groups.fields(name,id,icon,email,privacy,description)&&access_token='+$.cookie('accessToken'),function(reponse){ 
      if (!reponse || reponse.error) {
       console.log("Message d'erreur "+reponse.error.message);}
        //On normalise les données pour que l'autocompleteur les reconnaisse car il a besoin de label et de value
var listGroupes=$.map(reponse.groups.data, function(groupe) {
                return {
                label         : groupe.name,//Nom du groupe
                value         : groupe.id,  //Id du groupe
                icone         : groupe.icon,
                email         : groupe.email,
                privacy       : groupe.privacy,
                description   : groupe.description  };});
                                   
     initAutoComlete(listGroupes); 
;});
 
  
 
}
    
   function initAutoComlete(listGroupes){
    var actionEnrg=false;
        $("#rechgroup").autocomplete({
      minLength: 1,
      source   : listGroupes ,
      focus    : function(event,ui){
      $("#rechgroup").val( ui.item .label);
        return false; 
      },
      select   : function (event, ui){
      $("#progress").css( "visibility", "visible" );
      var GroupeChoisit=ui.item;
      
      $("#dialog").load("{{path('f_bgroupe_getFormGroup')}}",function(){
                  $("#fb_groupebundle_groupe_id").val( GroupeChoisit.value);
                  $("#fb_groupebundle_groupe_nom").val( GroupeChoisit.label);
                  $("#fb_groupebundle_groupe_email").val( GroupeChoisit.email);
                  $("#fb_groupebundle_groupe_type").val( GroupeChoisit.privacy);
                  $("#fb_groupebundle_groupe_description").val( GroupeChoisit.description);
                  $(".boutton").button();
                  $("#progress").css( "visibility", "hidden" );
      $(this).dialog({
      height   : 500,
      width    : 550,
      title:   " Enregistrement de groupe",
      modal:    true,
      close:function(){
          $("#progress").css( "visibility", "visible" );
      },
      show:    {
               effect: "clip",
               duration: 400   },
      hide:    {
               effect:"clip",
               duration: 600  },
      buttons: {
               " Enregistrer ": function() {
               $( "form" ).submit();
               actionEnrg=true;
               $( this ).dialog( "close" );
               },
               " Annuler ": function() {
               $( this ).dialog( "close" );
                 } } });    });
      return false;
               }})
      .data("ui-autocomplete")._renderItem = function( ul, item ) {
      return $("<li>")
      .append("<a><div><img src='"+item.icone+"' style=' height: 35px;width: 35px; top: 16px ;float: left; right 10px'/>"+
              "<div style=' padding-left:56px;  position: relative; '> "+ item.label +" </div> "+
              "<div style=' padding-left:56px;  position: relative;  '> Id  groupe : "+ item.value +" </div></div></a>")
      .appendTo(ul); };       };
        
   function onFbInit() {
        if (typeof(FB) !=='undefined' && FB !== null ) {   
           InialiserRechGroupe();   
           FB.init();
           FB.Event.subscribe('auth.logout', function(response) {
              
                     $("#progress").css( "visibility", "visible" );
                    window.location.href = "{{ path('_security_logout') }}";
                
            });
           
        }  
    
   
    }
    
    
  (function poll() {
    setTimeout(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: 'http://somewhere.com/rest/123',
            success: function (data) {
                MyNamespace.myFunction(data); //DO ANY PROCESS HERE
            },
            complete: poll
        });
    }, 5000);
})();
   
 </script>
{% endblock %}
 
{% block autresMenus%}
 
<!--Menu Groupe-->
<a href="{{ path('_security_check') }}" title="Gestion des groupes" >
<span id="groupes" class="menuitem" > Groupes </span></a> 
 
{% endblock%}

{%block connect  %}

{% set utilisateur=app.session.get('utilisateur')%}

<!-- Données utilisateur après sa connection -->
<!-- Nom de l'utilisateur qui est un lien vers  sa profile facebook -->
<a href="{{utilisateur.link}}"><span id="conn" class="menuitem">{{utilisateur.name}}</span></a>

<!--Photo de profile facebook-->
<img id="avatar" src="https://graph.facebook.com/{{utilisateur.id}}/picture" alt="photo de profile"/>  
{% endblock %}
{% block content %}
<!--Contenu-->
<p>Vous êtes bien connecté alors à present choisissez un groupe parmi 
les groupes dont vous êtes membre et que vous voulez importer les 
données, en saisissant un nom de groupe </p> 

<span class="labele"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
 Rechercher un groupe &nbsp;&nbsp;&nbsp;</span>   <input id="rechgroup" class="text_input" type="text"  value=" Saisissez le nom d'un groupe" onfocus="this.value=''; " /> 
 <center></center>
                               
<div id="contenudonnes" style="margin-top: 15px;">
 {% block flash%}                         
{% for flashMessage in app.session.flashbag.get('note') %}
    <center><div id="flash" class="labele" style="background-color: azure">
        {{ flashMessage }}
    </div></center> 
        
        
        
{% endfor %}
        
{% endblock %}
    <ul >
        {% set i=0%}
    {% for groupe in groupes%}
            
            <li><div class="liengp cl1" > <a  href="https://www.facebook.com/{{groupe.id}}"> {{groupe.nom}}</a>  </div>
                <div class="actions cl2" ><a id="importerMembres" href="#1{{i}}" onclick="importerMembres({{groupe.id}},'{{groupe.nom|replace({"'": "\'"})}}');"> Importer les membres</a></div>
                <div class="actions cl1" ><a id="importerPosts" href="#2{{i}}" onclick="importerPosts( {{groupe.id}} , '{{groupe.nom|replace({"'": "\'"})}}');" > Importer les postes</a> </div>
                <div class="actions cl2" ><a id="suprimerGp" href="#3{{i}}" onclick="supprimerGp({{groupe.id}},{{i}});" > Supprimer le groupe</a> </div> 
            </li>
            {% set i=i+1%}
    {% endfor%}
    </ul>

        
</div> 
 <div hidden id="dialog"></div>
 <audio id="son" preload="auto" > <source src="{{asset('bundles/FBgroupe/sons/success.wav') }}" type="audio/wav"></audio>
 
<div id="dialogMembres">
<br> Vous allez recuperer les membres du groupe :&nbsp;&nbsp; <b> <span id="nomGroupe" />  
</b>&nbsp;vers votre base de données. Ce groupe contient <b><span id="nombreMembre" /> membres </b>.
Le nombre d'administrateur vous le saurez une fois les membres seront tous importés
<br><span class="labele">Limit</span> <input id="limit" type="number" value="40" class="text_input ch_import" /> 
<br>
 <div id="progressbar" style="visibility: hidden;height: 24px;margin-top: 5px;"><center><div class="progress-label">Initialisation...</div> </center></div</div>                              
</div>
 <div id="message_progress"  ></div>
 <div id="message_final"  ></div>
 </div>
 
 <div id="dialogPosts"> 
 
 </div>

{% endblock %} 

{% block scripts2 %} 
 
<script type="text/javascript">
var      Vues;
var      champ1;
var      champ2;
var      champ3;
/*const*/IMPORT_TOUT=1;
/*const*/IMPORT_DEPUIS=2; //date de mise à jour
/*const*/IMPORT_JUSQUA=3; //date de mise à jour
/*const*/IMPORT_DEP_JUSQ=4;
/*const*/IMPORT_DEP_JUSQ_DATE_CREAT=5;
/*const*/IMPORT_DEP_DATE_CREAT=6;
/*const*/IMPORT_JUSQ_DATE_CREAT=7; 

$(function(){
    
     setTimeout(function (){
        var options={};
    $("#flash" ).hide( "pulsate", options, 1000);
    },2000);
    
    

    $(".progress-label" ).css("left","42%");
    
    $('#dialogMembres').dialog({ 
      autoOpen: false,
      height: 380,
      width : 550,
      title:" Importation des membres d'un groupe",
      modal: true,
      show: {
        effect: "clip",
        duration: 400
      },
      hide:{
          effect:"clip",
          duration: 600
           
      },
      buttons: [
        {text:"Démarer l'importation",
         id  :"ok",
         click: function (){
         
          progressbar = $( "#progressbar" ),
          progressLabel = $( ".progress-label" );
         if(!importFini){
             progressbar.css( "visibility", "visible" );
              progressbar.progressbar({
              value: false,
              max:100,
              change: function() {
              progressLabel.text( progressbar.progressbar( "value" ) + "%" );
               },
              complete: function() {
             progressLabel.text( "Accomplit !" ).css("left","42%");;
              }
          });
         $("ok").attr("disabled", true);
         var limit=$('#limit').val();
         var  route= "{{ path('import_membres',{ id_groupe:'id_groupe',
                                                       nbrmembre:'nbrmembre',
                                                       limit:'limit'}) }}";
         var URL=route.replace('id_groupe',id_groupe_courant)
                       .replace('nbrmembre',nombreMembreGp)
                       .replace('limit',limit);
         
       $.ajax( {
                   type: "POST",
                    url: URL
                }
                    ).done(function(data) {
                     importFini=true;
                     document.getElementById("son").play();
                     progressbar.progressbar( "value",100);
                     $("#message_progress").html('<img id="success" src="{{ asset('bundles/FBgroupe/images/succes2.png') }}"/>  '+
                                        ' <p style="line-height:52px;margin-left:53px"> Importation de données fini avec succès </p>');
                     $("#message_final").html("<span class='labele'>"+data.nbrMembre+"</span> nouveux membres enregistés"
                                              +((data.nbrAdmin>0)? " dont "+
                                              "<span class='labele'>"+data.nbrAdmin+"</span> administrateurs ":""));
                     var b=data.nbrProgress-data.nbrMembre;
                     if(b>0)$("#message_final").append("<br><span class='labele'>"+b+"</span> membres existaient déjà");
                     $("#ok").find('.ui-button-text').html("  OK  ");
                     ThreadProgressMb.terminate();         
                            });
                                                                            
        URL="{{path('membresProgress',{id_gp:'id_groupe'}) }}"; 
        URL=URL.replace("id_groupe",id_groupe_courant);
        ThreadProgressMb.postMessage(URL);
                           
        }else {
             $( this ).dialog( "close" );
          }
         }
        },    
        { text: " Annuler ",
          click: function(){ 
          $( this ).dialog( "close" );
          $("#progress").css( "visibility", "hidden" );
          $("#message_progress").html("");
          importFini=true;
        }
        }
      ]
      ,open: function( event, ui ) {
          importFini=false;
          $("#progress").css( "visibility", "hidden" );
           ThreadProgressMb = new Worker("{{ asset('bundles/FBgroupe/js/threadRecuperation.js') }}");
           ThreadProgressMb.onmessage = function (event) {
           var data=JSON.parse(event.data);
           var progress=data.nbrProgress;
                if(progress>0){
                if(!importFini){
                var val=Math.round((progress/nombreMembreGp)*100);
                if(val>=99)progressbar.progressbar("value",99);
                else progressbar.progressbar("value",val);
                
                var a=data.nbrProgress-data.nbrMembre;
                var message1="<span class='labele'>"+data.nbrMembre+"</span> sur <span class='labele'>"+
                              nombreMembreGp+"</span> membres enregistrés!";
                var message;
                message=(a>0)?message1+
                             "<br><span class='labele'>"+a+"</span> membres exitaient déjà!"
                             :message1;
                $("#message_progress").html(message);
                progressLabel.css("left","48%");}
                
                }
         };
      },
      close:function(event,ui){
           $("#suivi").text("");
           $("#ok").find('.ui-button-text').html("Démarer l'importation");
           importFini=true;
           $("#message_progress").html("");
           $("#message_final").html("");
           progressbar.progressbar("value",false);
           progressbar.css( "visibility", "hidden" );
          
          progressLabel.text("Initialisation...");
      }
    });
     
    $("#dialogPosts").dialog({
      autoOpen:false,
      height: 430,
      width : 600,
      title:" Importation des posts du groupe",
      modal: true,
      open: function( event, ui ) {
           importFini=false;
          $("#nomGroupe").text(nomGroupe).addClass("labele");
          $("#progress").css( "visibility", "hidden" ); 
           ThreadProgressPost = new Worker("{{ asset('bundles/FBgroupe/js/threadRecuperation.js') }}");
           ThreadProgressPost.onmessage = function (event) {
  
           var data=JSON.parse(event.data);
           nbrTotPost=data.nbrTotPost;
           
           var progress=data.nbrProgress;
                if(progress>0){ var message1;
                if(!importFini){
                    
                if(MODE_IMPORT===1){
                  message1="<span class='labele'>"+data.nbrPostImport+"</span> posts recupérés et enregistrés!";
                  progressLabel.text( "En progression ..." ).css("left","42%");
                
                }else{
                var val=Math.round((progress/nbrTotPost)*100);
                if(val>=99)progressbar2.progressbar("value",99);
                else       progressbar2.progressbar("value",val);
                
                
                  message1="<span class='labele'>"+data.nbrPostImport+"</span> sur <span class='labele'>"+
                              nbrTotPost+"</span> posts recupérés et enregistrés!";
             
                progressLabel.css("left","48%");
                }
                var a=progress-data.nbrPostImport;
                var message=(a>0)? message1+
                                   "<br><span class='labele'>"+a+"</span> posts sur cette requete existaient déjà!"
                                   :message1;
                $("#message_progress2").html(message);
                }
                
                
           }
         };
      },
      close:function(){
         $("#progress").css( "visibility", "hideen" );
          $("#suivi").text("");
           $("#ok2").find('.ui-button-text').html("Démarer l'importation");
           importFini=true;
           $("#message_progress2").html("");
           $("#message_final2").html("");
           progressbar2.progressbar("value",false);
           progressbar2.css( "visibility", "hidden" );
          
          progressLabel.text("Initialisation...");
      },
      show: {
        effect: "clip",
        duration: 400
      },
      hide:{
          effect:"clip",
          duration: 600    
      },
      buttons:[
        { text:"Démarer l'importation",
          id  :"ok2",
         click: function (){ 
          progressbar2 = $( "#progressbar2" ),
          progressLabel = $( ".progress-label" );
  
         if(!importFini){
              progressbar2.css( "visibility", "visible" );
              progressbar2.progressbar({
              value: false,
              max:100,
              change: function() {
              progressLabel.text( progressbar2.progressbar( "value" ) + "%" );
               },
              complete: function() {
              progressLabel.text( "Accomplit !" ).css("left","42%");
              }
          }); 
          
         $("ok2").attr("disabled", true);
             
         if(MODE_IMPORT===IMPORT_TOUT){
 
           var route1="{{ path('importTout',{ id_groupe:'id_groupe',
                                                   MODE_IMPORT: 'MODE_IMPORT',
                                                   limit:5000}) }}";
                                        
          var limit=$("#limit").val();
          
         var URL=route1.replace('id_groupe',id_groupe_courant)
                       .replace('MODE_IMPORT',IMPORT_TOUT)
                       .replace('5000',limit);
         $.ajax({
                   type: "POST",
                    url: URL
                }).done(function(data){ 
                // {idGroupe,nbrTotPost,idPost,nbrToJaime,nbrJaimeImport,nbrTotComment,nbrComImport,nbrPostImport,nbrProgress}
                     importFini=true;
                     ThreadProgressPost.terminate();
                     document.getElementById("son").play();
                     progressbar2.progressbar( "value",100);
                     $("#message_progress2").html('<img id="success" src="{{ asset('bundles/FBgroupe/images/succes2.png') }}"/>  '+
                                        ' <p style="line-height:52px;margin-left:53px"> Importation de données fini avec succès </p>');
                     $("#message_final2").html("<span class='labele'>"+data.nbrPostImport+"</span> nouveux posts enregistés avec la liste des jaimes et des commentaires");
                     var b=data.nbrProgress-data.nbrPostImport;
                     if(b>0)$("#message_final2").append("<br><span class='labele'>"+b+"</span> posts sur la dernière requete existaient déjà");
                     $("#ok2").find('.ui-button-text').html("  OK  ");   
                            });

         }else
         if(MODE_IMPORT>=2&&MODE_IMPORT<=7){
         
         //Les valeurs fournis sont à remplacer avec les vrais valeurs
         var route2="{{ path('importPost',{  id_groupe:   'id_groupe',
                                                  MODE_IMPORT: 'MODE_IMPORT',
                                                  date_depuis: 'date_depuis',
                                                  date_jusqua: 'date_jusqua',
                                                  limit:5000})  }}";
                                    
         var date_depuis;
         var date_jusqua;
         if($("#timedep").val()==="")$("#timedep").val("00:00");
         if($("#timejus").val()==="")$("#timejus").val("00:00");
         if($("#datedep").val()==="")date_depuis="null";
         else date_depuis=$("#datedep").val()+"T"+$("#timedep").val()+"+00:00";
         if($("#datejus").val()==="")date_jusqua="null";
         else date_jusqua=$("#datejus").val()+"T"+$("#timejus").val()+"+00:00";
         var limit=$("#limit").val();
         
         var URL=route2.replace('id_groupe',id_groupe_courant)
                       .replace('MODE_IMPORT',MODE_IMPORT)
                       .replace('date_depuis',date_depuis)
                       .replace('date_jusqua',date_jusqua)
                       .replace('5000',limit);
         
         $.ajax({
                   type: "POST",
                    url: URL
                }).done(function(data){ 
                // {idGroupe,nbrTotPost,idPost,nbrToJaime,nbrJaimeImport,nbrTotComment,nbrComImport,nbrPostImport,nbrProgress}
                     importFini=true;
                     ThreadProgressPost.terminate();
                     document.getElementById("son").play();
                     progressbar2.progressbar( "value",100);
                     $("#message_progress2").html('<img id="success" src="{{ asset('bundles/FBgroupe/images/succes2.png') }}"/>  '+
                                        ' <p style="line-height:52px;margin-left:53px"> Importation de données fini avec succès </p>');
                     $("#message_final2").html("<span class='labele'>"+data.nbrPostImport+"</span> nouveux posts enregistés avec la liste des jaimes et des commentaires");
                     var b=data.nbrProgress-data.nbrPostImport;
                     if(b>0)$("#message_final2").append("<br><span class='labele'>"+b+"</span> posts sur la dernière requete existaient déjà");
                     $("#ok2").find('.ui-button-text').html("  OK  ");  
                     date_jusqua=date_depuis="";
                            });
         }
          
        //SUIVI DE LA PROGRESSION
        var URL2="{{path('postsProgress',{id_gp:'id_groupe'}) }}"; 
        URL2=URL2.replace("id_groupe",id_groupe_courant);
        ThreadProgressPost.postMessage(URL2);
                           
        }else 
        {
             $( this ).dialog( "close" );
          }
         }
        },    
        { text: " Annuler ",
          click: function(){ 
          $( this ).dialog( "close" );
          $("#progress").css( "visibility", "hidden" );
          $("#message_progress").html("");
          importFini=true;
        }
        }
      ] 
    });

         
});

function importerMembres(id_groupe,nomGroupe){
           $("#progress").css( "visibility", "visible" );
           id_groupe_courant=id_groupe;
           importFini=false;
         
           if (typeof(FB) !=='undefined' && FB !== null ) {  
           FB.api(id_groupe+'?fields=members.fields(id)&&access_token='+$.cookie('accessToken'), 
           function(reponse){
               if (!reponse || reponse.error) {
            console.log("Message d'erreur "+response.error.message);
                }else{
               nombreMembreGp=reponse.members.data.length;
               
               $('#nombreMembre').text(nombreMembreGp);
               $('#nomGroupe').text(nomGroupe);
               $('#dialogMembres').dialog('open');
               $('#dialogMembres').css( "visibility", "visible" );
               
                } 
           });}   
       
      }//FIN IMPORT MEMBRES
      //    
 //importer les postes
function importerPosts(id_groupe,nomGroupe){
     id_groupe_courant=id_groupe;
      
      actionActive=false;
     $("#nomGroupe").text(nomGroupe).addClass("labele");
     $("#progress").css( "visibility", "visible" );     
     
     $("#dialogPosts").load("{{path('vues_importpost') }}", function(){
    
        $(this).children("span#nomGroupe").text(nomGroupe);
        champ1=$(this).find("div#champ1").detach();
        champ2=$(this).find("div#champ2").detach();
        champ3=$(this).find("div#champ3").detach();
        $("#dialogPosts").dialog("open");
        $(this).find( "option" ).hover(function (){
           $(this).addClass("ui-state-hover"); 
        });
       $(this).find("select").change( function (){
           $("select option:selected").each(function() {
               MODE_IMPORT=parseInt($( this ).val());
               
        switch(MODE_IMPORT){
          case 0 : $("#action").html("");break;

          case IMPORT_TOUT   : $("#action").html(champ3.html());break;

          case IMPORT_DEPUIS : $("#action").html(function (){
                               return champ1.html()+ "<br>"+champ3.html();
                               }); break;

          case IMPORT_JUSQUA : $("#action").html(function (){
                                return champ2.html()+ "<br>"+champ3.html();
                                 }); break;

          case IMPORT_DEP_JUSQ : $("#action").html(function (){
                                   return champ1.html()+ "<br>"+champ2.html();
                                 }); break;

          case IMPORT_DEP_JUSQ_DATE_CREAT : $("#action").html(function (){
                                             return champ1.html()+ "<br>"+champ2.html();
                                             }); break;

          case IMPORT_DEP_DATE_CREAT : $("#action").html(function (){
                                       return champ1.html()+ "<br>"+champ3.html();
                                        }); break;
          case IMPORT_JUSQ_DATE_CREAT : $("#action").html(function (){
                                        return champ2.html()+ "<br>"+champ3.html();
                                        }); break;
           }
           
         });
       });
        
    } );  
      }


function supprimerGp(id_groupe,item){
   $("#progress").css( "visibility", "visible" );
   var route="{{ path('f_bgroupe_supprimerGroup',{ idgp:'a_remplacer'}) }}";
   var url= route.replace('a_remplacer',id_groupe);
   $.post(url, function( data ) {
         if(data.statu===1){
             $("#progress").css( "visibility", "hidden" );
             $("#contenudonnes li:eq("+item+")").fadeOut();
         }
          }); }
</script>  
    

{% endblock %} 
