{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "Initialisation de Groupe" %}

{% block scripts_declaration %} 
<script type="text/javascript" src="{{ asset('bundles/FBgroupe/js/init_groupes.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/FBgroupe/js/import_data.js') }}"></script>
<script type="text/javascript"> 
       function onFbInit() {
        if (typeof(FB) !=='undefined' && FB !== null ) {              
           InialiserRechGroupe("{{path('f_bgroupe_getFormGroup')}}");   
        }  }

 /* (function poll() {
    setTimeout(function () {
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: 'http://somewhere.com/rest/123',
            success: function (data) {
                MyNamespace.myFunction(data); //DO ANY PROCESS HERE
            },
            complete: poll
        });
    }, 5000);
})();*/
  
 </script>
{% endblock %}
 
{% block autresMenus%}
 
<!--Menu Groupe-->
<a href="{{ path('_security_check') }}" title="Gestion des groupes" >
<span id="groupes" class="menuitem" > Groupes </span></a> 
 
{% endblock%}

{%block connect  %}

{% set utilisateur=app.session.get('utilisateur')%}

<!-- Données utilisateur après sa connection -->
<!-- Nom de l'utilisateur qui est un lien vers  sa profile facebook -->
<a href="{{utilisateur.link}}"><span id="conn" class="menuitem">{{utilisateur.name}}</span></a>

<!--Photo de profile facebook-->
<img id="avatar" src="https://graph.facebook.com/{{utilisateur.id}}/picture" alt="photo de profile"/>  
{% endblock %}
{% block content %}
<!--Contenu-->
<p>Vous êtes bien connecté alors à present choisissez un groupe parmi 
les groupes dont vous êtes membre et que vous voulez importer les 
données, en saisissant un nom de groupe </p> 

<span class="labele"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
 Rechercher un groupe &nbsp;&nbsp;&nbsp;</span>   <input id="rechgroup" class="text_input" type="text"  value=" Saisissez le nom d'un groupe" onfocus="this.value='' " /> 
 <center></center>
                               
<div id="contenudonnes" style="margin-top: 15px;">
 {% block flash%}                         
{% for flashMessage in app.session.flashbag.get('note') %}
    <center><div id="flash" class="labele" style="background-color: azure">
        {{ flashMessage }}
    </div></center> 
        
{% endfor %}
{% endblock%}
    <ul >
        {% set i=0%}
    {% for groupe in groupes%}
            
            <li ><div class="liengp cl1" > <a  href="https://www.facebook.com/{{groupe.id}}"> {{groupe.nom}}</a>  </div>
                <div class="actions cl2" ><a id="importerMembres" href="#1{{i}}" onclick="importerMembres({{groupe.id}},'fff');"> Importer les membres</a></div>
                <div class="actions cl1" ><a id="importerPosts" href="#2{{i}}" onclick="importerPosts({{groupe.id}});" > Importer les postes</a> </div>
                <div class="actions cl2" ><a id="suprimerGp" href="#3{{i}}" onclick="supprimerGp({{i}},{{ path('f_bgroupe_supprimerGroup',{ idgp:groupe.id}) }});" > Supprimer le groupe</a> </div> 
            </li>
            {% set i=i+1%}
    {% endfor%}
    </ul>


<div  id="progress">
<img id="progress-img"   src="{{ asset('bundles/FBgroupe/images/Progression.gif') }}"/> 
En progression...
</div>
 <div hidden id="dialog"></div>
{% endblock %} 

{% block scripts2 %} 
 
<script type="text/javascript">
//<![CDATA[ 
function enleveFlash(){
    
  
}
$(function(){
    $("#progress").hide();
    setTimeout(function (){
        var options={};
    $( "#contenudonnes.labele" ).hide( "pulsate", options, 1000);
    },2000);
});

</script>  
    

{% endblock %} 
