{% extends "FBgroupeBundle::layout.html.twig" %}
{% block title "Initialisation de Groupe" %}

{% block scripts_declaration %} 
<script type="text/javascript"> 
    
var GroupeChoisit;
function InialiserRechGroupe(){
      //Recuperation de la liste des groupes à partir de facebook
      FB.api('me?fields=groups.fields(name,id,icon,email,privacy,description)&&access_token='+$.cookie('accessToken'), function(response){ 
      if (!response || response.error) {
       console.log("Message d'erreur "+response.error.message);
        }
        //On normalise les données pour que l'autocompleteur les reconnaisse car il a besoin de label et de value
       var listGroupes=$.map(response.groups.data, function(groupe) {
                            return {
                            label         : groupe.name,//Nom du groupe
                            value         : groupe.id,  //Id du groupe
                            icone         : groupe.icon,
                            email         : groupe.email,
                            privacy       : groupe.privacy,
                            description   : groupe.description
                                   };
                                   });
                                   
        initAutoComlete(listGroupes);
        
       });}
    
    function initAutoComlete(listGroupes){
      $("#rechgroup").autocomplete({
      minLength: 1,
      source   : listGroupes ,
      focus    : function(event,ui){
      $("#rechgroup").val( ui.item .label);
        return false; 
      },
      select   : function (event, ui){
      GroupeChoisit=ui.item;
      console.log(GroupeChoisit.privacy);
      $("#contenudonnes").load("{{path('f_bgroupe_getFormGroup')}}",function(){
          $("#fb_groupebundle_groupe_id").val( GroupeChoisit.value);
           $("#fb_groupebundle_groupe_nom").val( GroupeChoisit.label);
           $("#fb_groupebundle_groupe_email").val( GroupeChoisit.email);
           $("#fb_groupebundle_groupe_type").val( GroupeChoisit.privacy);
           $("#fb_groupebundle_groupe_description").val( GroupeChoisit.description);
           $(".boutton").button();
      });
      
              /*
               * 
               * @param {type} ul
               * @param {type} item
               * @returns {@exp;@call;$@pro;append@call;@call;appendTo}
               * 
               * .select(//value=id
              .select("#fb_groupebundle_groupe_nom").val( GroupeChoisit.label)//label=name
              .select("#fb_groupebundle_groupe_email").val( GroupeChoisit.email)
              .select("#fb_groupebundle_groupe_description").val( GroupeChoisit.description)
              .select("#fb_groupebundle_groupe_type").val(GroupeChoisit.privacy);
               */
               return false;
               }
               })
      .data("ui-autocomplete")._renderItem = function( ul, item ) {
      return $("<li>")
      .append("<a><div><img src='"+item.icone+"' style=' height: 35px;width: 35px; top: 16px ;float: left; right 10px'/>"+
              "<div style=' padding-left:56px;  position: relative; '> "+ item.label +" </div> "+
              "<div style=' padding-left:56px;  position: relative;  '> Id  groupe : "+ item.value +" </div></div></a>")
      .appendTo(ul);
       };
       };
       
       //On doit s'assurer que l'objet FB est bien initialisé.
       //Après son initialisation il va recuperer la liste des groupes
       //lancer le script Jquery d'initialisation de l'autocomleteur
       
       function onFbInit() {
        if (typeof(FB) !=='undefined' && FB !== null ) {              
           InialiserRechGroupe();   
        }
    }
 </script>
{% endblock %}
 
{% block autresMenus%}
 
<!--Menu Groupe-->
<a href="{{ path('_security_check') }}" title="Gestion des groupes" >
<span id="groupes" class="menuitem" > Groupes </span></a> 
 
{% endblock%}

{%block connect  %}

<!-- Données utilisateur après sa connection -->
<!-- Nom de l'utilisateur qui est un lien vers  sa profile facebook -->
<a href="{{utilisateur.link}}"><span id="conn" class="menuitem">{{utilisateur.name}}</span></a>

<!--Photo de profile facebook-->
<img id="avatar" src="https://graph.facebook.com/{{utilisateur.id}}/picture" alt="photo de profile"/>  
{% endblock %}
{% block content %}
<!--Contenu-->
<p>Vous êtes bien connecté alors à present choisissez un groupe parmi 
les groupes dont vous êtes membre et que vous voulez importer les 
données, en saisissant un nom de groupe </p> 

<span class="labele">Rechercher un groupe &nbsp;</span> <input id="rechgroup" class="text_input" type="text"  value=" Saisissez le nom d'un groupe" onfocus="this.value='' " />

<div id="contenudonnes" style="margin-top: 15px;">

{% for flashMessage in app.session.flashbag.get('note') %}
    <div class="labele">
        {{ flashMessage }}
    </div>
{% endfor %}
</div>

{% endblock %} 

{% block scripts2 %} 
 
<script type="text/javascript">
            
    
</script>  
    

{% endblock %} 
